body{
    text-align: center;
}


#logo_navbar{
    width: 10%;
    height: 10%;
    text-align: center;
}
.pie{
    grid-area: footer;
}


#cards{

    margin-top: 30px;
    margin-bottom: 30px;
}

#cards h2{
    display: flex;
    justify-content: center; 
}

#cards h3{
    display: flex;
    justify-content: center; 

}

.card img{
    padding: 12px 12px;
}

h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}

 header{
    text-align: center;
    background: rgb(9,105,159);
    background: linear-gradient(0deg, rgba(9,105,159,0.6755077030812324) 50%, rgba(45,108,253,0.8015581232492998) 100%);
}
 
.contacto{
    border: solid 1px black;
    border-radius: 5px;
}
.galeria-trabajos{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    grid-auto-rows:auto;
    padding: 20px;
    grid-gap: 10px;
}
.galeria-trabajos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header h1{
    animation: bounce;
    animation-duration: 2s;
    font-size:33px;
      }
      @keyframes bounce {
        0% {
           opacity: 0;
           transform: translateY(-2000px);
        }
        60% {
           opacity: 1;
           transform: translateY(30px);
        }
        80% {
           transform: translateY(-10px);
        }
        100% {
           transform: translateY(0);
        }
     }
header img{
    padding: 30px;
    height: 150px;
    width: 150px;
}

.boton img {
    width: 200px;
    height: 200px;
}
.navbar-toggler{
    background-color: white;
    margin-left: 20px;
}


@media screen and (max-width:480px) {
    .layout{
        grid-template-columns: repeat(auto-fill,1fr);
    }
    .grid-container{
        grid-template-columns: auto;
    
    }

    }
