@import 'variables';
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }
footer{
    margin-top: auto;
    }
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    }
    
header {
    text-align: center;
    background-color: map-get ($colores ,"color-header");

        h1 {
        animation: bounce;
        animation-duration: 2s;
        font-size: 33px;
        }  

        img {
            padding: 30px;
            height: 150px;
            width: 150px;
        }
      
    }  
@keyframes bounce {
        0% {
            opacity: 0;
            transform: translateY(-2000px);
        }
    
        60% {
            opacity: 1;
            transform: translateY(30px);
        }
    
        80% {
            transform: translateY(-10px);
        }
    
        100% {
            transform: translateY(0);
        }
    }

    @media screen and (max-width:480px) {
        .layout {
            grid-template-columns: repeat(auto-fill, 1fr);
        }
    
        .grid-container {
            grid-template-columns: auto;
    
        }
    
        .contacto {
            width: 300px;
            height: 340px;
        }
    
    }