@import 'variables';
.contacto {
    width: 340px;
    height: 400px;
    background-color: map-get ($colores,"color-contacto");
    border-radius: 20px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(300px - 220px) auto;
    padding: 20px 30px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
        div {
        padding: 20px;
    }
}
.btn-enviar {
    @include boton (whitesmoke, black);
    border: none;
    opacity: 0.6;
    transition: 0.3s;
        :hover {
        opacity: 1
    }
}